
<!-- <h1>Welcome at lookats</h1>

<a ui-sref="/auth/login">Login</a><br/>
<a ui-sref="/auth/register">Register</a>       -->


<!-- <ion-view>
	<ion-content>
		<h1>Welcome at lookats</h1>

		<a ui-sref="/auth/login">Login</a><br/>
		<a ui-sref="/auth/register">Register</a>      
	</ion-content>
</ion-view>  -->

<!-- <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar> -->
<ion-view title="Lookats">
	<ion-content>
		<a ui-sref="auth.login"  ion-nav-animation="slide-in-up">Logins</a><br/>
		<a ui-sref="auth.register"  ion-nav-animation="slide-in-up">Register</a>      
	</ion-content>
</ion-view>