<ion-header-bar align-title="left" class="bar-light">
  <h1 class="title">Recommended Users</h1>
</ion-header-bar>

  <!-- <div class="pane">
      <span>Traveling</span>
  </div> -->
  <ion-pane>
    <ion-content>
      <div>        
        <ion-list>
          <ion-item ng-repeat="item in users">
            @{{item.username}}            
            <button class="button button-light button-follow" ng-click="follow(item.id)">
              Follow
            </button>
          </ion-item>
        </ion-list>        
      </div>
      <div>
        <label class="item item-input">
          <button class="button button-block button-positive" ng-click="nextToTimeline()">
          Next
          </button>
        </label>           
      </div>
    </ion-content>
  </ion-pane>

